{
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "importOrderParserPlugins": ["jsx", "typescript"],
    "importOrder": [
        "^@",
        "^(app/)",
        "^(components/)",
        "^(contexts/)",
        "^(hooks/)",
        "^(layouts/)",
        "^(pages/)",
        "^(typings)",
        "^(styles/)",
        "^(utilities/)",
        "(.jpg)$",
        "(.png)$",
        "(.svg)$",
        "^(./hooks)",
        "^(?!(./styles))(./)",
        "^(./styles)",
        "^.$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
