// IMPORTANT REMINDER: Always keep this alphabetized!

// Colors
$black: #000000;
$darkBeige: #908f87;
$grayishYellow: #eeede6;
$lightYellow: #fafafa;
$white: #ffffff;

// Semantic Colors
$backgroundColor: $white;
$inverseTextColor: $white;
$textColor: $darkBeige;
$titleColor: $black;

// Component Colors
$footerBackgroundColor: $lightYellow;
$footerTextColor: $textColor;
$headerBackgroundColor: $grayishYellow;
