// IMPORTANT REMINDER: Always keep this alphabetized!

// Colors
$black: #000000;
$darkBeige: #908f87;
$grayishYellow: #eeede6;
$lightYellow: #fafafa;
$pink: #ffecec;
$silver: #eaeaea;
$transparentBlack: #00000010;
$white: #ffffff;

// Semantic Colors
$backgroundColor: $white;
$borderColor: $silver;
$errorBackgroundColor: $pink;
$inverseTextColor: $white;
$placeholderColor: $silver;
$textColor: $darkBeige;
$titleColor: $black;

// Component Colors
$dropdownHoverBackgroundColor: $silver;
$footerBackgroundColor: $lightYellow;
$footerTextColor: $textColor;
$headerBackgroundColor: $grayishYellow;
$inputBackgroundColor: $backgroundColor;
$inputPlaceholderColor: $placeholderColor;
$inputTextColor: $textColor;
$menuBorderColor: $borderColor;
$menuItemBackgroundColor: $backgroundColor;
$overlayBackgroundColor: $transparentBlack;
