@import '../../styles/global.scss';

.dot {
    animation: spinner 1s infinite ease-in-out;
    border-radius: 100%;
    height: 40px;
    margin: 40px auto;
    width: 40px;
}

.spinner {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

@keyframes spinner {
    0% {
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
