@import './styles/global.scss';

* {
  box-sizing: border-box;
}

body {
  @include bodyText;

  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-stretch: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
}
