@mixin centerBoth {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin centerHorizontally {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerVertically {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
